* {
	margin: 0;
	padding: 0;
}

html,
body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: #222;
	font-family: sans-serif;
}

.text-center {
	text-align: center;
}

#play-back:active,
#start-over:active {
	background: #222;
	border: 1px solid white;
	color: #fff;
	outline: none;
}

#play-back:focus,
#start-over:focus {
	outline: none;
}

#button-div {
	display: flex;
	justify-content: space-between;
}

.button {
	color: #222;
	width: 14vmin;
	height: 7vmin;
	background: white;
	font-size: 3vmin;
	display: inline-block;
	line-height: 5vmin;
	margin: 2vmin;
	border: 1px solid transparent;
	border-radius: 1vmin;
}

.button:hover {
	cursor: pointer;
}

#instructions {
	color: #fff;
	font-size: 4vmin;
	padding: 1vmin;
}

#light-container {
	height: 50vmin;
	width: 100%;
	padding-right: 10px;
	padding-top: 50px;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: auto;
	display: flex;
	justify-content: space-between;
}

.box {
	width: 20vmin;
	height: 20vmin;
	margin-top: 10px;
	float: left;
	cursor: pointer;
	line-height: 20vmin;
	font-size: 5vmin;
	color: #fff;
	margin-top: 10vmin;
}

#one {
	background-color: rgba(255, 0, 0, 0.5);
	border: 3px solid red;
}

#one:hover {
	background-color: rgba(255, 0, 0, 1);
}

#two {
	background-color: rgba(255, 165, 0, 0.5);
	border: 3px solid orange;
}

#two:hover {
	background-color: rgba(255, 165, 0, 1);
}

#three {
	background-color: rgba(255, 255, 0, 0.5);
	border: 3px solid yellow;
}

#three:hover {
	background-color: rgba(255, 255, 0, 1);
}

#four {
	background-color: rgba(0, 128, 0, 0.5);
	border: 3px solid green;
}

#four:hover {
	background-color: rgba(0, 128, 0, 1);
}

#five {
	background-color: rgba(0, 0, 255, 0.5);
	border: 3px solid blue;
}

#five:hover {
	background-color: rgba(0, 0, 255, 1);
}

#six {
	background-color: rgba(128, 0, 128, 0.5);
	border: 3px solid purple;
}

#six:hover {
	background-color: rgba(128, 0, 128, 1);
}

#seven {
	background-color: rgba(255, 192, 203, 0.5);
	border: 3px solid pink;
}

#seven:hover {
	background-color: rgba(255, 192, 203, 1);
}